.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  > * {
    width: 100px;
  }
}

.typography {
  > * {
    display: block;
    /* border-top: 1px solid var(--color-gray50); */
    background: var(--color-gray20);
    margin-bottom: 2px;
  }
}
