.colors {
	height: 30px;
	td,
	th {
		min-width: 100px;
		padding: 0 1rem;
	}
}

.icons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	text-align: center;
	> * {
		width: 100px;
	}
}

.typography {
	> * {
		display: block;
		/* border-top: 1px solid var(--color-grayA); */
		background-color: var(--color-grayE);
		margin-bottom: 2px;
	}
}
