.top-header {
	background: var(--color-header);
	padding-top: var(--statusbar-height);

	> .navbar {
		display: flex;
		height: var(--height-header-navbar);
		justify-content: space-between;
		width: 100%;

		> .logo {
			padding: 3px 13px 5px;
			&:hover {
				background: var(--color-primary);
				> svg {
					--color: var(--color-primary-darker);
				}
			}
		}

		> .right {
			display: flex;
			align-items: center;
			> a {
				font-size: var(--step--1);
				color: white;
				display: inline-block;
				line-height: var(--height-header-navbar);
				padding: 0 13px;
				&.active,
				&:hover {
					background: var(--color-primary);
				}
				@media (max-width: 62em) {
					&:not(.burger-toggle) {
						display: none;
					}
				}
			}
		}

		> .burger-menu {
			background: var(--color-gray1);
			border: 1px solid var(--color-gray3);
			display: grid;
			gap: 8px;
			padding: 7px;
			position: absolute;
			right: 0;
			top: var(--height-header-navbar);
			width: 240px;
			z-index: 1;
			> a {
				align-items: center;
				border-radius: 4px;
				cursor: pointer;
				display: grid;
				gap: 16px;
				grid-template-columns: auto 1fr;
				padding: 10px 12px;
				&.active,
				&:hover {
					background: var(--color-primary-darker);
				}
			}
		}
	}
}
